.chars {
  display: flex;
  flex-wrap: wrap;
}

.char {
  padding: 30px;
  text-align: center;
  width: 120px;
  height: 120px;
}

.symbol {
  font-size: 50px;
}

code {
  border: 1px solid gray;
  padding: 0 2px;
  background-color: whitesmoke;
}

input {
  display: block;
  width: 80%;
  font-size: 18px;
  margin: 10px auto;
}